
/* Google Fonts Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body{
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background-image: linear-gradient(135deg, #43CBFF 10%, #9708CC 100%);
}
.glass-card {
position: relative;
max-width: 355px;
width: 100%;
border-radius: 25px;
padding: 20px 30px 30px 30px;
background: #fff;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
z-index: 3;
overflow: hidden;
}
.glass-card .logo-cart{
display: flex;
align-items: center;
justify-content: space-between;
}
.glass-card .logo-cart img{
height: 60px;
width: 60px;
object-fit: cover;
}
.glass-card .logo-cart i{
font-size: 27px;
color: #707070;
cursor: pointer;
transition: color 0.3s ease;
}
.glass-card .logo-cart i:hover{
color: #333;
}
.glass-card .images{
position: relative;
height: 210px;
}
.glass-card .images img{
position: absolute;
height: 200px;
width: 300px;
object-fit: cover;
transform: rotate(0deg);
left: 12px;
top: -25px;
z-index: -1;
opacity: 0;
transition: opacity 0.5s ease;
}
.glass-card .images img.active{
opacity: 1;
}
.glass-card .shoe-details .shoe_name{
font-size: 24px;
font-weight: 500;
color: #161616;
}
.glass-card .glass-details p{
font-size: 12px;
font-weight: 400;
color: #333;
text-align: justify;
}
.glass-card .glass-details .stars i{
margin: 0 -1px;
color: #333;
}
.glass-card .color-price .color-option{
display: flex;
align-items: center;
}
.color-price{
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 10px;
}
.color-price .color-option .color{
font-size: 18px;
font-weight: 500;
color: #333;
margin-right: 8px;
}
.color-option  .circles{
display: flex;
}
.color-option  .circles .circle{
height: 18px;
width: 18px;
background: #0071C7;
border-radius: 50%;
margin: 0 4px;
cursor: pointer;
transition: all 0.4s ease;
}
.color-option  .circles .circle.blue.active{
box-shadow: 0 0 0 2px #fff,
            0 0 0 4px #0071C7;
}
.color-option  .circles .circle.pink{
background: #FA1795;
}
.color-option  .circles .circle.pink.active{
box-shadow: 0 0 0 2px #fff,
            0 0 0 4px #FA1795;
}
.color-option  .circles .circle.yellow{
background: #F5DA00;
}
.color-option  .circles .circle.yellow.active{
box-shadow: 0 0 0 2px #fff,
            0 0 0 4px #F5DA00;
}
.color-price .price{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.color-price .price .price_num{
font-size: 25px;
font-weight: 600;
color: #707070;
}
.color-price .price .price_letter{
font-size: 10px;
font-weight: 600;
margin-top: -4px;
color: #707070;
}
.glass-card .button{
position: relative;
height: 50px;
width: 100%;
border-radius: 25px;
margin-top: 30px;
overflow: hidden;
}
.glass-card .button .button-layer{
position: absolute;
height: 100%;
width: 300%;
left: -100%;
background-image: linear-gradient(135deg,#9708CC, #43CBFF,#9708CC, #43CBFF );
transition: all 0.4s ease;
border-radius: 25PX;
}
.glass-card .button:hover .button-layer{
left: 0;
}
.glass-card .button button{
position: relative;
height: 100%;
width: 100%;
background: none;
outline: none;
border: none;
font-size: 18px;
font-weight: 600;
letter-spacing: 1px;
color: #fff;
}
